/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.shadow {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

app-directory-explorer {
  mat-list-item {
    font-size: 14px !important;
    height: 20px !important;
  }
  .mat-list-item-content {
    padding: 0 !important;

    .mat-list-text {
      padding-left: 5px !important;
    }
  }
}

.float-right {
  float: right;
}
